h2{
    text-align: center;
}

/* universalSel */
*{
    margin: 0;
    padding: 0;
}

/* elementSel */
p{
    color: brown;
}

/* idSel */
#p1{
    color: red;
    font-weight: 900;
    background-color: black;
    padding: 8px;
}

/* classSel */
.c1{
    color: green;

}

/* groupSel */
p,article,h2{
    max-width: 400px;
}

/* childSel */
section>h2{
    color: cadetblue;
}

p.c1{
    
}

/* psuedoSel */
a:visited{

}
a:active{

}

li:first-child{
    color: rebeccapurple;
    background-color: rgb(127, 243, 243);
    max-width: 200px;
}