h2{
    text-align: center;
}

/* elementSel */
p{
    color: brown;
}

/* idSel */
#p1{
    color: red;
    font-weight: 900;
    background-color: black;
    padding: 8px;
}

/* classSel */
.c1{
    color: green;

}

/* groupSel */
p,article,h2{
    max-width: 400px;
}
p.c1{
    
}