* {
    margin: 0;
    padding: 0;
}

#navItems {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#navCont {
    box-sizing: border-box;
    width: 100%;
    background: linear-gradient(to right, #99f2c8, #41caa6);
    padding: 12px;
    min-height: 60px;
}

#navLogo {
    font-size: 2.2rem;
}

a {
    text-decoration: none;
}

#contact {
    margin-left: 20px;
    margin-right: 20px;
}

#mainCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#contentBox {
    width: 70%;
    box-shadow: 2px 0px 30px black;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    margin: 32px auto;
    border-radius: 20px;
}


.item {
    display: flex;
    justify-content: space-between;
}

.marginLeft {
    margin-left: 20px;
}

.leftBox {}

.rightBox {
    justify-self: end;
}

.rightBox img {
    height: 400px;
    width: 260px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}


#footCont {
    box-sizing: border-box;
    width: 100%;
    background: #abbaab;
    background: linear-gradient(to left, #eeeeee, #abbaab);
    padding: 12px;
    font-size: 1.2rem;
    text-align: center;
    min-height: 40px;
}