* {
    margin: 0;
    padding: 0;
}

#navItems {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#navCont {
    box-sizing: border-box;
    width: 100%;
    background: linear-gradient(to right, #99f2c8, #41caa6);
    padding: 12px;
    min-height: 60px;
}

#navLogo {
    font-size: 2.2rem;
}

a {
    text-decoration: none;
}

#contact {
    margin-left: 20px;
    margin-right: 20px;
}

#mainCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#mainCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#contentBox {
    width: 70%;
    box-shadow: 2px 0px 30px black;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    margin: 32px auto;
    border-radius: 20px;
}


.item {
    display: flex;
    justify-content: space-between;
}

.marginLeft {
    margin-left: 20px;
}

.rightBox {
    justify-self: end;
    position: relative;
    transition: all ease-in 120ms;
}

.rightBox img {
    height: 400px;
    width: 260px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.rightBox:hover {
    transform: scale(1.1);
}
.rightBox>.overLay:hover {
    opacity: 1;
}

.overLay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(56, 55, 55, 0.671);
    border-radius: 20px;
    justify-content: center;
    opacity: 0;
}

.overLay>span {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    color: white;
}


#footCont {
    box-sizing: border-box;
    width: 100%;
    background: #abbaab;
    background: linear-gradient(to left, #eeeeee, #abbaab);
    padding: 12px;
    font-size: 1.2rem;
    text-align: center;
    min-height: 40px;
    margin-top: 60px;
}